<footer class="footer">
    <div class="footer-container">
        <div class="footer-text-container">
            <p class="footer-header">Общее</p>
            <p class="footer-text">О компании</p>
            <p class="footer-text">Блог</p>
            <p class="footer-text">Контакты</p>
            <p class="footer-text">Сотрудничество</p>
            <p class="footer-text">Акции</p>
            <p class="footer-text">Написать директору</p>
        </div>
        <div class="footer-text-container">
            <p class="footer-header">Продукция</p>
            <p class="footer-text">Пластиковые окна</p>
            <p class="footer-text">Ремонт пластиковых окон</p>
            <p class="footer-text">Балконы и лоджии</p>
            <p class="footer-text">Пластиковые двери</p>
            <p class="footer-text">Аксессуары</p>
            <p class="footer-text">Цены</p>
        </div>
        <div class="footer-text-container">
            <p class="footer-header">Коллекции</p>
            <p class="footer-text">ОГРН: 1205400062240</p>
            <p class="footer-text">ИНН: 5401401746</p>
        </div>
        <div class="footer-text-container">
            <p class="footer-header">Контакты</p>
            <div class="footer-text-row1">
                <img class="footer-image" src="../assets/images/location.svg">
                <p class="footer-text">630534, г. Новосибирск, Мочище,<br>
                    ул. Первомайская, д. 244, офис 3</p>
            </div>
            <div class="footer-text-row1 footer-text-row2">
                <img class="footer-image" src="../assets/images/phone.svg">
                <div class="phone-text">
                    <p class="footer-text" style="font-size: 24px;">+7 (343) 234-56-78</p>
                    <p class="footer-text">Заказать звонок</p>
                </div>
            </div>
            <div class="requisites-row2" style="margin-left: 35px;">
                <img class="image-blog" src="../assets/images/face-white.svg">
                <img class="image-blog" src="../assets/images/vk-white.svg">
                <img class="image-blog" src="../assets/images/inst-white.svg">
            </div>
        </div>
    </div>
</footer>
