<header class="header">
    <div class="menu">
        <div class="menu-top">
            <div class="logo">
                <img src="../assets/images/logo.svg">
            </div>
            <div class="icons">
                <div class="comp-info">
                    <div class="icon">
                        <img src="../assets/images/comp_info.svg">
                    </div>
                    <div class="info-text">
                        О компании
                    </div>
                </div>
                <div class="blog">
                    <div class="icon">
                        <img src="../assets/images/blog.svg">
                    </div>
                    <div class="info-text">
                        Блог
                    </div>
                </div>
                <div class="contacts">
                    <div class="icon">
                        <img src="../assets/images/contacts.svg">
                    </div>
                    <div class="info-text">
                        Контакты
                    </div>
                </div>
                <div class="coop">
                    <div class="icon">
                        <img src="../assets/images/coop.svg">
                    </div>
                    <div class="info-text">
                        Сотрудничество
                    </div>
                </div>
                <div class="stock">
                    <div class="icon">
                        <img src="../assets/images/stock.svg">
                    </div>
                    <div class="info-text">
                        Акции
                    </div>
                </div>
            </div>
            <div class="call-group">
                <div class="group-1">
                    <div class="number-text">+7 (383) 234 99 88</div>
                    <div class="director-contact-text">
                        Написать директору
                    </div>
                </div>
                <button class="call-order-btn">
                    <div class="call-order-text">
                        Заказать звонок
                    </div>
                </button>
            </div>
        </div>
        <div class="line"></div>
        <div class="menu-bottom">
            <div class="selectors">
                <div class="selectors-info plastic-windows">
                    <div class="selectors-text">
                        Пластиковые окна
                    </div>
                    <div class="arrow">
                        <img src="../assets/images/down-arrow.svg">
                    </div>
                </div>
                <div class="selectors-info plastic-windows-repairing">
                    <div class="selectors-text" >
                        Ремонт пластиковых окон
                    </div>
                    <div class="arrow">
                        <img src="../assets/images/down-arrow.svg">
                    </div>
                </div>
                <div class="selectors-info balconies">
                    <div class="selectors-text">
                        Балконы и лоджии
                    </div>
                </div>
                <div class="selectors-info plastic-doors">
                    <div class="selectors-text">
                        Пластиковые двери
                    </div>
                    <div class="arrow">
                        <img src="../assets/images/down-arrow.svg">
                    </div>
                </div>
                <div class="selectors-info accessories">
                    <div class="selectors-text">
                        Аксессуары
                    </div>
                    <div class="arrow">
                        <img src="../assets/images/down-arrow.svg">
                    </div>
                </div>
                <div class="selectors-info prices">
                    <div class="selectors-text">
                        Цены
                    </div>
                </div>
            </div>
            <div class="city-info">
                <div class="city-text">
                    Ваш город:
                </div>
                <div class="city-selector-text">
                    Новосибирск
                    <div class="arrow">
                        <img src="../assets/images/down-arrow.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
